* {
  margin: 0;
  padding: 0;
}

.header-bg {
  background-color: #e554731a;
}

.max-width {
  max-width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  gap: 97px;
  padding-top: 50px;
  justify-content: space-around;
  margin-bottom: 178px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  max-width: 700px;
}

.header-title {
  font-size: 70px;
  font-weight: 800;
}

.subtext {
  max-width: 550px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
  line-height: 30px;
}

.picture-container {
  max-width: 635px;
  max-height: 90dvh;
}

.picture-container img {
  max-width: 635px;
  max-height: 90dvh;
}

.button {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.feature-flower-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  margin-bottom: 48px;
}

.featured-flower-images {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.ff-image-1 {
  width: 380px;
  height: 450px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ff-image-2 {
  width: 380px;
  height: 450px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ff-image-3 {
  width: 380px;
  height: 450px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.feature-image {
  width: 280px;
  height: 380px;
}

.ff-image h5 {
  text-align: center;
  margin-top: 32px;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration-line: underline;
}
